<hr class="formRowSep" />

<xf:numberboxrow name="options[at_law_maxItems]" value="{$options.at_law_maxItems}" min="1"
	label="{{ phrase('at_law_maxItems') }}" />

<xf:radiorow name="options[at_law_more]" value="{{ $options.at_law_more ?: 'none' }}"
	label="{{ phrase('at_law_more') }}" explain="{{ phrase('at_law_more_description') }}">

	<xf:option value="show_older"
		label="{{ phrase('show_older_items') }}" />
	<xf:option value="view_more"
		label="{{ phrase('view_more') }}" />
	<xf:option value="none"
		label="{{ phrase('none') }}" />
</xf:radiorow>