<xf:css src="at_law_widget.less"  />

<div class="block"{{ widget_data($widget) }}>
	<div class="block-container">
		<h3 class="block-minorHeader">{$title}</h3>
		<div class="block-body block-row">
			
		<xf:if is="$newsFeedItems is not empty">
			<ul class="block-body js-newsFeedTarget">
				<xf:foreach loop="$newsFeedItems" value="$item">
					<!--<xf:macro template="news_feed_macros" name="feed_row" arg-item="{$item}" />-->
						<li class="block-row block-row--separated at_law_block {{ $xf.visitor.isIgnoring($item.user_id) ? ' is-ignored' : '' }}" data-author="{{ $item.User ? $item.User.username : $item.username }}">
						<div class="contentRow">
							<xf:if is="property('at_law_avatar')">
								<div class="contentRow-figure">
									<xf:avatar user="$item.User" size="s" defaultname="{$item.username}" />
								</div>
							</xf:if>
                            <div class="contentRow-main">
								{$item.render()|raw}
							</div>
						</div>
					</li>
				</xf:foreach>
			</ul>
		<xf:else />
			<div class="block-body js-newsFeedTarget">
				<div class="block-row">{{ phrase('news_feed_is_currently_empty') }}</div>
			</div>
		</xf:if>
		</div>
		<xf:if is="$options.at_law_more == 'show_older'">
			<div class="block-footer js-newsFeedLoadMore">
				<span class="block-footer-controls">
					<xf:button href="{{ link('whats-new/latest-activity', null, {'before_id': $oldestItemId}) }}"
							   rel="nofollow"
							   data-xf-click="inserter"
							   data-append=".js-newsFeedTarget"
							   data-replace=".js-newsFeedLoadMore">
						{{ phrase('show_older_items') }}
					</xf:button>
				</span>
			</div>
		</xf:if>
		<xf:if is="$options.at_law_more == 'view_more'">
			<div class="block-footer">
				<span class="block-footer-controls">
					<xf:button href="{{ link('whats-new/latest-activity') }}" rel="nofollow">{{ phrase('view_more...') }}</xf:button>
				</span>
			</div>
		</xf:if>
	</div>
</div>