.block[data-widget-definition="at_law_widget"] {
	.at_law_block {
		padding: 11px 0px
	}
	
	.contentRow-title {
		font-size: 13px;
	}
	
	.contentRow-title,
	.contentRow-minor {
		margin-left: -6px;
	}
	
	<xf:if is="property('at_law_avatar')">
		.contentRow-figure .avatar.avatar--s {
			width: 24px;
			height: 24px;
			
			span {
				position: relative;
				font-size: 21.8px;
			}
		}
	</xf:if>

	<xf:if is="property('at_law_content')">
		.contentRow-snippet,
		.listInline--block {
			display: none;
		}
	</xf:if>

	<xf:if is="property('at_law_label')">
		.label,
		.label-append {
			display: none;
		}
	</xf:if>
}